/* open-sans-300 - cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-300.woff') format('woff'), /* Modern Browsers */
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-regular.woff') format('woff'), /* Modern Browsers */
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-600.woff') format('woff'), /* Modern Browsers */
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-700.woff') format('woff'), /* Modern Browsers */
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/resources/fonts/open-sans-v15-cyrillic_cyrillic-ext_greek_greek-ext_latin-ext_latin_vietnamese-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}